.navbar {
  padding: 0.5rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navTitle {
  margin: 0;
}

.navForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
